#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
#nav *::after{
    background-color: transparent!important;
}
.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}
/* 去除导航栏选项中底下的蓝条 */
#nav *::after{
    background-color: transparent!important;
}

/* 导航栏菜单鼠标移入字体放大 */
#nav #site-name:hover, 
#nav .menus_item:hover, 
#nav #search-button:hover{
    font-size:28px;
}
.pace {
    pointer-events: none;
    user-select: none;
    z-index: 2;
    position: fixed;
    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 6rem;
    background: #eaecf2;
    overflow: hidden;
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: 0.3s ease-in;
}

.pace.pace-inactive {
    opacity: 0;
    transition: 0.3s;
    top: -8px;
}

.pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    position: fixed;
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #49b1f5;
    background: linear-gradient(to right,
            rgb(18, 194, 233),
            rgb(196, 113, 237),
            rgb(246, 79, 89));
    animation: gradient 2s ease infinite;
    background-size: 200%;
}
/*
2022.10.4更新：
根据我发现的没有自适应，间距不合理问题进行调整，如果用了这个的朋友们建议改一改
*/
#page-name::before{
    font-size:18px;
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 8px;
    color:white!important;
    top:0;
    left:0;
    content:'回到顶部';
    background-color: var(--lyx-theme);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    opacity: 0;
    box-shadow: 0 0 3px var(--lyx-theme);
    line-height: 45px; /*如果垂直位置不居中可以微调此值，也可以删了*/
}
#page-name:hover:before{
    opacity: 1;
}
@media screen and (max-width:900px){
    #page-name,#menus{
      display:none!important;
    }
}

#name-container{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
#name-container:hover{
    scale:1.03
}
#page-name{
    position: relative;
    padding:10px 30px/*如果文字间隔不合理可以微调修改，第二个是水平方向的padding，第一个是垂直的*/
}
#nav{
    padding: 0 20px;
}






/* Twikoo评论系统样式 */
/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}

/* 声名部分变量 */
:root {
    --cxl2020mc-radius: 7px;
    --cxl2020mc-card-border-width: 1px;
  }
  
  /* 浅色模式颜色 */
  [data-theme=light] {
    --cxl2020mc-border-color: #e3e8f7;
    --cxl2020mc-card-bg: #fff;
    --cxl2020mc-card-border: #e3e8f7;
    --style-border-always: 1px solid var(--cxl2020mc-card-border);
    --cxl2020mc-blue: #425AEF;
  }
  
  /* 深色模式颜色 */
  [data-theme=dark] {
    --cxl2020mc-border-color: #42444a;
    --cxl2020mc-card-bg: #1d1b26;
    --cxl2020mc-card-border: #42444a;
    --style-border-always: 1px solid var(--cxl2020mc-card-border);
    --cxl2020mc-blue: #0084FF;
  }
  
  /* 评论区评论大框 */
  .twikoo .tk-comments-container>.tk-comment {
    /* 内边距 */
    padding: 1rem;
    /* 圆角 */
    border-radius: var(--cxl2020mc-radius);
    /* 背景颜色 */
    background: var(--cxl2020mc-card-bg);
    /* 变动动画时长 */
    transition: .3s;
  }
  
  /* 浅色模式评论区评论大框 */
  [data-theme=light] .twikoo .tk-comments-container>.tk-comment {
    /* 阴影 */
    box-shadow: var(--card-box-shadow);
  }
  
  /* 浅色模式评论区评论大框阴影悬浮加深 */
  [data-theme=light] .twikoo .tk-comments-container>.tk-comment:hover {
    /* 阴影（浅色模式突出层次感） */
    box-shadow: var(--card-hover-box-shadow);
  }
  
  /* 黑暗模式评论区评论大框 */
  [data-theme=dark] .twikoo .tk-comments-container>.tk-comment {
    /* 边框样式 */
    border-style: solid;
    /* 边框宽度 */
    border-width: var(--cxl2020mc-card-border-width);
    /* 边框颜色 */
    border-color: var(--cxl2020mc-card-border);
  }
  
  /* 设备信息 */
  .twikoo .tk-extra {
    /* 圆角 */
    border-radius: var(--cxl2020mc-radius);
    /* 背景颜色 */
    background: var(--cxl2020mc-card-bg);
    /* 内边距 */
    padding: 0.4rem;
    /* 底边距 */
    margin-bottom: 1rem;
    /* 变动动画时长 */
    transition: .3s;
  }
  
  /* 浅色模式设备信息 */
  [data-theme=light] .twikoo .tk-extra {
    /* 阴影 */
    box-shadow: var(--card-box-shadow);
  }
  
  /* 浅色模式设备信息阴影悬浮加深 */
  [data-theme=light] .twikoo .tk-extra:hover {
    /* 阴影 */
    box-shadow: var(--card-hover-box-shadow);
  }
  
  /* 黑暗模式设备信息 */
  [data-theme=dark] .twikoo .tk-extra {
    /* 边框样式 */
    border-style: solid;
    /* 边框宽度 */
    border-width: var(--cxl2020mc-card-border-width);
    /* 边框颜色 */
    border-color: var(--cxl2020mc-card-border);
  }
  
  /* 加载更多按钮 */
  .twikoo .tk-expand {
    /* 圆角 */
    border-radius: var(--cxl2020mc-radius);
  }
  
  /* 浅色模式加载更多按钮 */
  [data-theme=light] .twikoo .tk-expand {
    /* 阴影 */
    box-shadow: var(--card-box-shadow);
  }
  
  /* 浅色模式加载更多按钮（鼠标悬浮时） */
  [data-theme=light] .twikoo .tk-expand:hover {
    /* 阴影 */
    box-shadow: var(--card-hover-box-shadow);
    /* 背景颜色 */
    background-color: var(--btn-bg);
  }
  
  /* 黑暗模式加载更多按钮（鼠标悬浮时） */
  [data-theme=dark] .twikoo .tk-expand:hover {
    /* 背景颜色 */
    background-color: var(--cxl2020mc-blue);
  }
  
  /* 黑暗模式加载更多按钮 */
  [data-theme=dark] .twikoo .tk-expand {
    /* 边框样式 */
    border-style: solid;
    /* 边框宽度 */
    border-width: var(--cxl2020mc-card-border-width);
    /* 边框颜色 */
    border-color: var(--cxl2020mc-card-border);
  }
  
